<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pré_Process</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
{% block body %}
            
    <main>
        <section class="tablet" >
            
            <iframe src="{{url_for('home')}}", name="tela", id="tela" frameborder="0">Seu sistema não é compatível com isso.</iframe>
         
        </section>
    </main>
    
{% endblock %}
</body>
</html>